In [35]:
import pandas as pd

import matplotlib.pyplot as plt

In [36]:

df = pd.read_csv('social_media_engagement_data.csv')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Platform            100000 non-null  object
 1   Post ID             100000 non-null  object
 2   Post Type           100000 non-null  object
 3   Post Content        100000 non-null  object
 4   Post Timestamp      100000 non-null  object
 5   Likes               100000 non-null  int64
 6   Comments            100000 non-null  int64
 7   Shares              100000 non-null  int64
 8   Impressions         100000 non-null  int64
 9   Reach               100000 non-null  int64
 10  Engagement Rate     100000 non-null  float64
 11  Audience Age        100000 non-null  int64
 12  Audience Gender     100000 non-null  object
 13  Audience Location   100000 non-null  object
 14  Audience Interests  100000 non-null  object
 15  Campaign ID         20132 non-null   object
 16  Sentiment           49900 non-null   object
 17  Influencer ID       9994 non-null    object
dtypes: float64(1), int64(6), object(11)
memory usage: 13.7+ MB

In [38]:
df

,Platform,Post ID,Post Type,Post Content,Post Timestamp,Likes,Comments,Shares,Impressions,Reach,Engagement Rate,Audience Age,Audience Gender,Audience Location,Audience Interests,Campaign ID,Sentiment,Influencer ID
0,LinkedIn,d49dadb4-fc1e-4775-88ad-d60b75cf5123,Video,Want that according same wish.,2021-04-23 08:19:49.255108,415,77,85,2619,1842,31.32,29,Other,United Kingdom,respond,NaN,Negative,NaN
1,Instagram,16ce29c5-2dc7-478f-9814-a86754f3ce8b,Video,Increase fast partner south.,2023-07-30 06:40:06.356134,908,125,85,1223,3884,28.78,48,Male,Greece,population,NaN,Neutral,NaN
2,Instagram,6a6cc741-72f4-4111-95a0-c5ee04a175a8,Video,Lawyer behavior born window couple sister.,2021-12-05 03:56:53.211700,412,419,58,2165,849,104.71,55,Male,United States Virgin Islands,himself,NaN,Neutral,NaN
3,Twitter,0b5a3e70-c556-43cb-ad4f-a1d0003348bc,Image,Street great decade must.,2021-09-28 20:39:00.227679,667,153,29,7191,3519,24.13,54,Other,Zambia,safe,NaN,NaN,NaN
4,Facebook,a7d3e958-e2fe-411e-a24a-b96e821fc050,Link,At clear meeting with reason ground continue c...,2023-02-27 17:51:21.425074,659,215,34,3312,2032,44.69,33,Other,Afghanistan,well,6052b8d2-3403-4447-b0b4-c5ce20e6c8d0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,LinkedIn,26534a4f-0cb6-4bb3-b852-d1cadc15584e,Link,Trial serious region bit.,2021-12-14 08:14:35.616751,555,491,15,4685,2377,44.64,62,Male,Brunei Darussalam,day,NaN,Positive,NaN
99996,Facebook,df9577d4-9338-4f41-99f9-8e8f1e34febd,Link,Pretty general by scene risk.,2022-06-24 00:28:30.817791,341,76,76,4448,2605,18.93,35,Male,Honduras,over,NaN,NaN,NaN
99997,LinkedIn,43cd806e-704b-4718-9924-2555c189f8b2,Link,Develop school account wish rate.,2023-12-21 23:58:07.906688,442,155,75,8746,4616,14.56,38,Male,Vanuatu,floor,9ffda691-fc52-47dc-93bf-041eb2eb3974,Neutral,NaN
99998,Instagram,3485970a-0f34-4304-a60a-f4e3de8e1917,Link,Just might language idea answer data idea.,2024-03-01 21:03:06.667623,313,417,140,5487,608,143.09,39,Female,Saint Barthelemy,key,NaN,NaN,NaN
99999,Twitter,6b1406b0-adca-43e5-abde-799746a9b50a,Link,Cold money inside deep.,2022-04-01 23:34:15.201011,27,138,148,2179,2230,14.04,22,Female,United States Virgin Islands,range,3302de60-24c2-4995-9c24-6dcaee99071a,NaN,NaN

In [39]:
df = df.drop(['Impressions', 'Campaign ID', 'Sentiment', 'Influencer ID', 'Audience Gender', 'Post ID'], axis=1)

In [40]:
df

,Platform,Post Type,Post Content,Post Timestamp,Likes,Comments,Shares,Reach,Engagement Rate,Audience Age,Audience Location,Audience Interests
0,LinkedIn,Video,Want that according same wish.,2021-04-23 08:19:49.255108,415,77,85,1842,31.32,29,United Kingdom,respond
1,Instagram,Video,Increase fast partner south.,2023-07-30 06:40:06.356134,908,125,85,3884,28.78,48,Greece,population
2,Instagram,Video,Lawyer behavior born window couple sister.,2021-12-05 03:56:53.211700,412,419,58,849,104.71,55,United States Virgin Islands,himself
3,Twitter,Image,Street great decade must.,2021-09-28 20:39:00.227679,667,153,29,3519,24.13,54,Zambia,safe
4,Facebook,Link,At clear meeting with reason ground continue c...,2023-02-27 17:51:21.425074,659,215,34,2032,44.69,33,Afghanistan,well
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,LinkedIn,Link,Trial serious region bit.,2021-12-14 08:14:35.616751,555,491,15,2377,44.64,62,Brunei Darussalam,day
99996,Facebook,Link,Pretty general by scene risk.,2022-06-24 00:28:30.817791,341,76,76,2605,18.93,35,Honduras,over
99997,LinkedIn,Link,Develop school account wish rate.,2023-12-21 23:58:07.906688,442,155,75,4616,14.56,38,Vanuatu,floor
99998,Instagram,Link,Just might language idea answer data idea.,2024-03-01 21:03:06.667623,313,417,140,608,143.09,39,Saint Barthelemy,key
99999,Twitter,Link,Cold money inside deep.,2022-04-01 23:34:15.201011,27,138,148,2230,14.04,22,United States Virgin Islands,range

In [41]:
df = df.drop(['Audience Interests'], axis =1)

In [42]:
df

,Platform,Post Type,Post Content,Post Timestamp,Likes,Comments,Shares,Reach,Engagement Rate,Audience Age,Audience Location
0,LinkedIn,Video,Want that according same wish.,2021-04-23 08:19:49.255108,415,77,85,1842,31.32,29,United Kingdom
1,Instagram,Video,Increase fast partner south.,2023-07-30 06:40:06.356134,908,125,85,3884,28.78,48,Greece
2,Instagram,Video,Lawyer behavior born window couple sister.,2021-12-05 03:56:53.211700,412,419,58,849,104.71,55,United States Virgin Islands
3,Twitter,Image,Street great decade must.,2021-09-28 20:39:00.227679,667,153,29,3519,24.13,54,Zambia
4,Facebook,Link,At clear meeting with reason ground continue c...,2023-02-27 17:51:21.425074,659,215,34,2032,44.69,33,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...
99995,LinkedIn,Link,Trial serious region bit.,2021-12-14 08:14:35.616751,555,491,15,2377,44.64,62,Brunei Darussalam
99996,Facebook,Link,Pretty general by scene risk.,2022-06-24 00:28:30.817791,341,76,76,2605,18.93,35,Honduras
99997,LinkedIn,Link,Develop school account wish rate.,2023-12-21 23:58:07.906688,442,155,75,4616,14.56,38,Vanuatu
99998,Instagram,Link,Just might language idea answer data idea.,2024-03-01 21:03:06.667623,313,417,140,608,143.09,39,Saint Barthelemy
99999,Twitter,Link,Cold money inside deep.,2022-04-01 23:34:15.201011,27,138,148,2230,14.04,22,United States Virgin Islands

In [43]:
df.info

<bound method DataFrame.info of         Platform Post Type                                       Post Content  \
0       LinkedIn     Video                     Want that according same wish.
1      Instagram     Video                       Increase fast partner south.
2      Instagram     Video         Lawyer behavior born window couple sister.
3        Twitter     Image                          Street great decade must.
4       Facebook      Link  At clear meeting with reason ground continue c...
...          ...       ...                                                ...
99995   LinkedIn      Link                          Trial serious region bit.
99996   Facebook      Link                      Pretty general by scene risk.
99997   LinkedIn      Link                  Develop school account wish rate.
99998  Instagram      Link         Just might language idea answer data idea.
99999    Twitter      Link                            Cold money inside deep.

                   Post Timestamp  Likes  Comments  Shares  Reach  \
0      2021-04-23 08:19:49.255108    415        77      85   1842
1      2023-07-30 06:40:06.356134    908       125      85   3884
2      2021-12-05 03:56:53.211700    412       419      58    849
3      2021-09-28 20:39:00.227679    667       153      29   3519
4      2023-02-27 17:51:21.425074    659       215      34   2032
...                           ...    ...       ...     ...    ...
99995  2021-12-14 08:14:35.616751    555       491      15   2377
99996  2022-06-24 00:28:30.817791    341        76      76   2605
99997  2023-12-21 23:58:07.906688    442       155      75   4616
99998  2024-03-01 21:03:06.667623    313       417     140    608
99999  2022-04-01 23:34:15.201011     27       138     148   2230

       Engagement Rate  Audience Age             Audience Location
0                31.32            29                United Kingdom
1                28.78            48                        Greece
2               104.71            55  United States Virgin Islands
3                24.13            54                        Zambia
4                44.69            33                   Afghanistan
...                ...           ...                           ...
99995            44.64            62             Brunei Darussalam
99996            18.93            35                      Honduras
99997            14.56            38                       Vanuatu
99998           143.09            39              Saint Barthelemy
99999            14.04            22  United States Virgin Islands

[100000 rows x 11 columns]>

In [44]:
df = df[df['Platform'] == 'Instagram']

In [45]:
df

,Platform,Post Type,Post Content,Post Timestamp,Likes,Comments,Shares,Reach,Engagement Rate,Audience Age,Audience Location
1,Instagram,Video,Increase fast partner south.,2023-07-30 06:40:06.356134,908,125,85,3884,28.78,48,Greece
2,Instagram,Video,Lawyer behavior born window couple sister.,2021-12-05 03:56:53.211700,412,419,58,849,104.71,55,United States Virgin Islands
6,Instagram,Link,Community seek Republican cold though ability ...,2022-09-28 06:32:05.116755,874,239,91,1553,77.53,41,Jamaica
12,Instagram,Image,Town find identify game your.,2022-05-12 15:41:21.902021,870,92,15,4829,20.23,48,Sudan
13,Instagram,Link,Reduce theory upon else someone significant wh...,2022-03-14 00:27:10.505324,322,195,146,3477,19.07,47,Nepal
...,...,...,...,...,...,...,...,...,...,...,...
99971,Instagram,Link,Way listen professional beat check.,2021-04-24 02:23:05.682024,608,293,80,512,191.60,27,Maldives
99976,Instagram,Image,Own herself girl wait prevent arm certainly re...,2022-09-16 11:57:58.073393,684,91,111,4734,18.72,38,Nicaragua
99981,Instagram,Link,Any accept recognize mouth go.,2021-07-25 12:17:00.153658,709,143,33,2395,36.95,26,Pakistan
99993,Instagram,Image,Three few major chance leader.,2022-01-29 04:20:02.860819,55,294,170,4912,10.57,58,Tanzania
99998,Instagram,Link,Just might language idea answer data idea.,2024-03-01 21:03:06.667623,313,417,140,608,143.09,39,Saint Barthelemy

In [46]:
# make sure the timestamp column is in datetime format
df.loc[:, 'Post Timestamp'] = pd.to_datetime(df['Post Timestamp'])

In [54]:
# Create separate columns for date and time
df.loc[:, 'date'] = df['Post Timestamp'].dt.date  # Extract the date part
df.loc[:, 'time'] = df['Post Timestamp'].dt.time  # Extract the time part

In [49]:
df

,Platform,Post Type,Post Content,Post Timestamp,Likes,Comments,Shares,Reach,Engagement Rate,Audience Age,Audience Location
1,Instagram,Video,Increase fast partner south.,2023-07-30 06:40:06.356134,908,125,85,3884,28.78,48,Greece
2,Instagram,Video,Lawyer behavior born window couple sister.,2021-12-05 03:56:53.211700,412,419,58,849,104.71,55,United States Virgin Islands
6,Instagram,Link,Community seek Republican cold though ability ...,2022-09-28 06:32:05.116755,874,239,91,1553,77.53,41,Jamaica
12,Instagram,Image,Town find identify game your.,2022-05-12 15:41:21.902021,870,92,15,4829,20.23,48,Sudan
13,Instagram,Link,Reduce theory upon else someone significant wh...,2022-03-14 00:27:10.505324,322,195,146,3477,19.07,47,Nepal
...,...,...,...,...,...,...,...,...,...,...,...
99971,Instagram,Link,Way listen professional beat check.,2021-04-24 02:23:05.682024,608,293,80,512,191.60,27,Maldives
99976,Instagram,Image,Own herself girl wait prevent arm certainly re...,2022-09-16 11:57:58.073393,684,91,111,4734,18.72,38,Nicaragua
99981,Instagram,Link,Any accept recognize mouth go.,2021-07-25 12:17:00.153658,709,143,33,2395,36.95,26,Pakistan
99993,Instagram,Image,Three few major chance leader.,2022-01-29 04:20:02.860819,55,294,170,4912,10.57,58,Tanzania
99998,Instagram,Link,Just might language idea answer data idea.,2024-03-01 21:03:06.667623,313,417,140,608,143.09,39,Saint Barthelemy

In [50]:
df.isnull().values.any()

np.False_

In [51]:
df.duplicated()

1        False
2        False
6        False
12       False
13       False
         ...
99971    False
99976    False
99981    False
99993    False
99998    False
Length: 24835, dtype: bool

In [55]:
df.duplicated().sum()

np.int64(0)

In [59]:
df = df.drop([ 'Post Timestamp'], axis=1)

In [60]:
df.to_csv('cleaned_data.csv', index=False)